<html>
    <head>
        <meta charset="UTF-8">
        <meta name="decription" content="number of hospital">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>login</title>
        
    </head>
    <body>
        
        <div class="loginbox">
            <img src="log.png" class="log">
            <h1>login here</h1>
            <form>
                <p>Username</p>
                <input type="text" name="" placeholder="Enter Username">
                <p>Password</p>
                <input type="password" name="" placeholder="Enter Password">
                <input type="submit" name="" value="login"><br>
                <a href="file:///C:/Users/mohamed%20arafa/Desktop/forget%20pass%20.html">Lost Your Password?</a><br>
                <a href="file:///C:/Users/mohamed%20arafa/Desktop/regestration.html">Don`t Have An Account?</a>
                <br>
                
            </form>
            
        </div>
        
    </body>
    
</html>