<html>
    
    <head>
        
        <meta charset="UTF-8">
        
        <style>
            
            body{
                margin: 0;
                padding: 0;
                
                
            }
            .header{
                
                background-color:#3BB9FF;
                height: 85px;
            }
            .container{
                width: 75%;
                margin: 0 auto;
                color: #F6358A;
                
                
            }
            .container .label h1
            {
                
                font-size: 40px;
                padding: 35px;
                text-align: center; 
            }
            .signup input
            {
                
                font-size: 18px;
                
            }
            .signup input:nth-child(2)
            {
                width: 45%;
                margin-right: 3px;
                height: 35px;
                margin-top: 5px;
            }
            .signup input:nth-child(3)
            {
                width: 45%;
                height: 35px;
                margin-top: 5px;
            }
              .signup input:nth-child(4)
            {
                width: 91%;
                height: 35px;
                margin-top: 5px;
            }
              .signup input:nth-child(5)
            {
                width: 91%;
                height: 35px;
                margin-top: 5px;
            }
            select{
                height: 30px;
                margin-right: 2px;
                border: 1px solid #999; 
                
            }
            button{
                
                width: 200px;
                height: 40px;
                font-size: 20px;
                background-color:#F1C40F;
                margin-left: 350px;;
            }
            button:hover{
                background-color: #F9E79F;
            }
        </style>
        
    </head>
    <body>
        <div class="header">
            <div class="container">
                
                <div class="label">
                    <h1>Notes</h1>
                </div>
                <div class="signup">
                    <h1>Create an account </h1>
                    <input type="text" placeholder="Enter First Name">
                    <input type="text" placeholder="Enter Second Name">
                    <input type="email" placeholder="Enter Email Or Phone Number ">
                    <input type="password" placeholder="Enter Your Password">
                    <h3>BirthDay</h3>
                    <select>
                        <option>Day</option>
                         <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                        
                    </select>
                    <select>
                        <option>Month</option>
                         <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May	</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select>
                    <select>
                        <option>Year</option>
                        <option>2019</option>
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                        <option>2015</option>
                        <option>2014</option>
                        <option>2013</option>
                        <option>2012</option>
                        <option>2011</option>
                        <option>2010</option>
                        <option>2009</option>
                        <option>2008</option>
                        <option>2007</option>
                        <option>2006</option>
                        <option>2005</option>
                        <option>2004</option>
                        <option>2003</option>
                        <option>2002</option>
                        <option>2001</option>
                        <option>2000</option>
                        <option>1999</option>
                    </select>
                    <br>
                    <input type="radio" name="gender">Male
                    <input type="radio" name="gender">Female
                    <br>
                    <button>Create an account</button>
                    
                </div>
                
                
                
                
            </div>
            
            
            
            
            
        </div>
        
        
        
    </body>
    
</html>